<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiling.wl_erp.mapper.GongGaoMapper">

  <sql id="gonggao">
      id,biaoti,neirong,uptime
  </sql>

    <!--新增退货-->
    <insert id="insertGG" parameterType="com.weiling.wl_erp.bean.GongGao">
        insert into gonggao(<include refid="gonggao" />)values(#{id},#{baioti},#{neirong},#{uptime})
    </insert>
    <select id="findAllGongGao" resultType="com.weiling.wl_erp.bean.GongGao">
        select <include refid="gonggao" /> from gonggao
    </select>
    <select id="findGongGaoById" resultType="com.weiling.wl_erp.bean.GongGao">
        select <include refid="gonggao" /> from gonggao where id=#{value}
    </select>
    <delete id="delGongGaoById" >
        delete from gonggao where id=#{value}
    </delete>


</mapper>