<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiling.wl_erp.mapper.SellMapper">

    <sql id="sell">
        id,pname,cname,oksell,sellprice,guige,allprice,overprice,selluser,selltime,zhuangtai,beizhu
    </sql>

   <resultMap id="result" type="com.weiling.wl_erp.bean.Sell">
        <result property="id" column="id"/>
        <result property="pname" column="pname" />
        <result property="cname" column="cname" />
        <result property="oksell" column="oksell" />
        <result property="sellprice" column="sellprice" />
        <result property="guige" column="guige" />
        <result property="allprice" column="allprice" />
        <result property="overprice" column="overprice" />
        <result property="selluser" column="selluser" />
        <result property="selltime" column="selltime" />
        <result property="zhuangtai" column="zhuangtai" />
        <result property="beizhu" column="beizhu" />
    </resultMap>
    <!--增加销售表-->
    <insert id="insertSell" parameterType="com.weiling.wl_erp.bean.Sell">
        insert into sell(<include refid="sell" />)values(#{id},#{pname},#{cname},#{oksell},#{sellprice},#{guige},#{allprice},#{overprice},#{selluser},#{selltime},#{zhuangtai},#{beizhu})
    </insert>

    <!--查询所有销售表-->
    <select id="findAllSell" resultType="com.weiling.wl_erp.bean.Sell">
        SELECT <include refid="sell"/> FROM sell
    </select>

    <!--根据库存ID查询销售表-->
    <select id="findSellById" resultType="com.weiling.wl_erp.bean.Sell">
        SELECT <include refid="sell"/> FROM sell where id=#{value}
    </select>

    <!--&lt;!&ndash;根据商品名和厂家名查询库存&ndash;&gt;
    <select id="findKuCunByName" parameterType="String" resultType="com.weiling.wl_erp.bean.KuCun">
        SELECT <include refid="kuCun"/> FROM kucun where pname=#{pname} and cname=#{cname}
    </select>-->

    <!--根据id和库存信息修改库存-->
    <update id="updateSellById" parameterType="com.weiling.wl_erp.bean.Sell">
        update sell set pname=#{pname},cname=#{cname},oksell=#{oksell},sellprice=#{sellprice},guige=#{guige},allprice=#{allprice},overprice=#{overprice},selluser=#{selluser},zhuangtai=#{zhuangtai},selltime=#{selltime},beizhu=#{beizhu} where id=#{id}
    </update>

    <!--根据id删除库存信息-->
    <update id="updateZhuangTai" parameterType="int">
            update sell set zhuangtai=#{zhuangtai} where id=#{id}
    </update>

</mapper>