<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD com.example.Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.weiling.wl_erp.mapper.UserMapper">

    <resultMap id="result" type="com.weiling.wl_erp.bean.User">
        <result property="id" column="id"/>
        <result property="name" column="username" />
        <result property="password" column="password" />
        <result property="qx" column="qx" />
    </resultMap>

    <select id="findAllUser" resultMap="result">
        SELECT id,username,password qx FROM user
    </select>
    <select id="checkNamePass" parameterType="com.weiling.wl_erp.bean.User" resultType="com.weiling.wl_erp.bean.User">
        SELECT id,username,password,qx FROM user where username=#{name} and password=#{password}
    </select>
    <update id="changePass" parameterType="com.weiling.wl_erp.bean.User">
        update user set password = #{password} where id =#{id}
    </update>

</mapper>